@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00796b;
  --secondary-color: #e0f7fa;
  --background-color: #f5f5f5;
  --text-color: #333;
  --border-radius: 0.5rem;
  --box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  background-color: rgb(57, 190, 185);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.map-container {
  width: 100%;
  height: 80vh;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 1.25rem;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.bottom-nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.625rem;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 2px 4px */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr)); /* 300px */
  padding: 1.25rem; /* 20px */
}

.grid-item {
  background-color: #ffffff;
  padding: 1.25rem; /* 20px */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.2s, box-shadow 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.3125rem); /* -5px */
  box-shadow: var(--box-shadow-hover);
}

.grid-item h3 {
  margin-top: 0;
  color: var(--primary-color);
}

.grid-item p {
  color: #555;
}

/* Example Media Query for Smaller Screens */
@media (max-width: 48rem) {
  /* 768px */
  .map-container {
    max-height: 12.5rem; /* 200px */
  }

  .search-container {
    padding: 0.9375rem; /* 15px */
  }

  .grid {
    gap: 0.9375rem;
    padding: 0.9375rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navIcon {
  width: 24px;
  height: 24px;
}

.search-bar {
  background-color: aquamarine;
}

.drop-down {
  max-width: max-content;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0.8rem 1.1rem;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  font-size: medium;
}

.selected-label {
  color: rgb(81, 0, 255);
  font-weight: bold;
}

/* Adjust height for screen fitting */
.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

@media (min-width: 768px) {
  .flex-row {
    flex-direction: row;
  }
}

.overflow-y-auto {
  overflow-y: auto;
}
