.header {
  background-color: #0b015045;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  top: 0;
  width: 100%;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 60px;
  box-sizing: border-box;
  /* position: fixed;
  z-index: 100; */
  /* position: sticky; */
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  background-color: #180505;
}

.nav ul {
  display: none;
}

.hamb {
  display: none;
}

@media screen and (max-width: 728px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    transition: 0.4s;
  }

  .nav ul {
    display: none;
  }

  .hamb {
    display: block;
    cursor: pointer;
    transition: 0.4s;
  }

  .hamb:hover {
    color: #000000;
    transform: translate3d(0, -1px, 0);
  }

  .hamb.active {
    color: #000000;
    transform: translate3d(0, 1px, 0);
  }

  .nav ul.show {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #a1a1a11a;
    padding: 0;
    margin: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    opacity: 0.95;
  }
}

@media screen and (min-width: 728px) {
  .nav {
    display: flex;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
  }
}

.nav li {
  margin: 0 10px;
  cursor: pointer;
  transition: 0.4s;
  list-style: none;
}

.nav li:hover {
  color: #000000;
  transform: translate3d(0, -1px, 0);
}

.homeLink:hover {
  color: #000000;
  transform: translate3d(0, -1px, 0);
}

.nav li.active {
  color: #ffffff;
  border-radius: 5px;
  width: fit-content;
  padding: 0 10px;
}

.nav li.inactive {
  color: #000020a6;
}

.nav li.inactive:hover {
  color: #000000;
}

.active {
  color: #000000;
  padding: 0 10px;
  border-radius: 1cm;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  background: rgba(83, 150, 238, 0.202);
  border: none;
}

/* 2 */
.inactive {
  color: #180505;
  padding: 0.5rem;
  border-radius: 1cm;
  font-weight: bold;
  background: linear-gradient(
    rgba(137, 92, 208, 0.83) rgba(170, 131, 232, 0.83)
      rgba(170, 131, 232, 0.751) rgba(170, 131, 232, 0.588) 0deg,
    rgb(170, 131, 232) 0%,
    rgb(75, 56, 91) 100%
  );
  border: none;
}

.inactive:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
